<% if (item.tags && item.tags.length){ %>
<%
    var tags = [];
    item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '">#' + tag.name + '</a>');
    });
%>
    <span class="post-tags-list"><%= __('Post-info.Tags') %>&nbsp:</span>
    <%- tags.join(' ') %>
<% } %>