<% if (item.tags && item.tags.length){ %>
<%
    var tags = [];
    item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '"><i class="fa fa-tag"></i> ' + tag.name + '</a>');
    });
%>
    <span class="post-tags-list">
    	<i class="fa fa-bookmark"></i> <%= __('Post-info.Tags') %>:&nbsp&nbsp&nbsp
    </span>
    <%- tags.join(' ') %>
<% } %>