<% var items = site.categories %>
<% var title = _('categories') %>

<div class="categories-main-container">
<% items.forEach(function(item){ %>
	<div class="category">
		<span class="point"></span>
		<a href="#">
			<%- item.name %>
		</a>	
	</div>
<% }) %>
</div>

