<div class="tags-main-container">
	<div class="tagscloud">
		<%- tagcloud({
			min_font: .98,
			max_font: 3.4,
			unit: 'rem',
			amount: 9999,
			color: true,
			start_color: 'rgb(41,183,200)',
			end_color: 'rgb(40,122,180)',
		}) %>
	</div>
</div>