<div class="category-page-container">
     <div class="category-page-title">
     	<i class="fa fa-folder-open fa-lg"></i><h2 class="category_title"><%= page.category %></h2>
     </div>
     <div class="category-page-cards">
          <% page.posts.each(function(post){ %>
             <section class="posts">
                <%- partial('_partial/article-excerpt', { item: post, index: true, pin: false }) %>
             </section>	
          <% }) %>
     </div>
</div>

