<div class="category-page-container">
   <div class="category-page-title">
      <span class="category_title"><%= page.category %></span>
   </div>
   <div class="category-page-cards">
        <% page.posts.each(function(post){ %>
           <section class="posts">
              <%- partial('_partial/article-excerpt', { item: post, index: true, pin: false }) %>
           </section>	
        <% }) %>
   </div>
   <%- partial('_partial/paginator') %>
</div>

