<div class="tag-page-container">
   <div class="tag-page-title">
      <span class="tag_title"><%= page.tag %></span>
   </div>
   <div class="tag-page-cards">
        <% page.posts.sort('date', -1).each(function(post){ %>
           <section class="posts">
              <%- partial('_partial/article-excerpt', { item: post, index: true, pin: false }) %>
           </section>	
        <% }) %>
   </div>
</div>



