if(hexo-config('color.PureBlue')){
	$color = #53B3FA;
}
else if(hexo-config('color.GrayBlue')){
	$color = #6A93B0;
}
else if(hexo-config('color.Gradient')){
	$color = -webkit-linear-gradient(left, #2874B2 0%, #29c6cd 100%);
}

::selection{
	background-color: #05D3F9;
	color: white;
}
::-webkit-scrollbar
{
	width: 8px; 
	height: 8px;
}
::-webkit-scrollbar-track
{	
	background-color: white;
}
::-webkit-scrollbar-thumb
{
	background-color: $color;
}
body{
	background-image: url("https://raw.githubusercontent.com/Chorer/MyBlog-Pic/master/Myblogs/Mybg.png");
	font-size: 1.25rem;
	letter-spacing: 0.5px;
	color: #34495e;
	line-height: 1.8;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Lato";				 
}
.main{
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	img{
		cursor:url('image/cross.cur'),auto;
	}				
}


@import "_partial/header";
@import "_partial/footer";
@import "_partial/paginator"
@import "_partial/post";
@import "_partial/archive";
@import "_partial/tags";
@import "_partial/font";
@import "_partial/about";
@import "_partial/categories";
@import "_partial/share";
@import "_partial/mobile";
@import "_partial/search"
