::selection{
	background-color: #29b7c8;
	color: white;
}
body{
	background-color: white;
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Lato";
	@media screen and (max-width:1024px){
					width: 1030px;
				}
	@media screen and (max-width:970px){
					width: 970px;
				}					 
}
.main{
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	@media screen and (max-width:1024px){
					max-width: 1030px;
					width: 1030px;
				}
	@media screen and (max-width:970px){
					max-width: 970px;
					width: 970px;
				}
	img{
		cursor:url('image/cross.cur'),auto;
	}				
}

@import "_partial/header";
@import "_partial/footer";
@import "_partial/paginator"
@import "_partial/post";
@import "_partial/archive";
@import "_partial/tags";
@import "_partial/font";
@import "_partial/about";
@import "_partial/categories";
@import "_partial/share";