<div class="about-main-container">
	<div class="about-top">
		<img class="author-favicon" src="https://i.loli.net/2019/06/28/5d1603c60a6cd30961.png">
		<p class="author-name">Your Name</p>
	</div>
	<div class="about-bottom">
		<%- page.content %>
	</div>	
</div>

