<section class="time-section">
  <h1 class="section-year">
    <i class="fa fa-flag fa-1x"></i> <%= year %>
  </h1>
  <div class="section-list">
    <% posts.sort((l, r) => r.date - l.date) %>
    <% posts.forEach(post => { %>
      <div class="section-list-item">
        <a href="<%= url_for(post.path) %>" class="archive-title"><%= post.title %></a>
        <p class="archive-date"><%-date(post.date, "MM-DD")%></p>
      </div>
    <% }) %>
  </div>
</section>