<div class="categories-main-container">
	<p class="categories-counter">
		 <i class="fa fa-paperclip"></i> <span><%= site.categories.length %>&nbsp</span><%= __('Categories-info.Text') %>
	</p>	
	<%- list_categories() %>
</div>


