<footer class="footer">
	<div class="footer-info">
		<p>
			<%- theme.copyright_info %>
		</p>
		<p class="a">
			Powered by <a href="https://hexo.io/zh-cn/">Hexo</a> | Theme - <a href="https://github.com/Chorer/hexo-theme-PureBlue">PureBlue</a>
		</p> 
	</div>
</footer>