<% if(theme.local_search.enable) { %>	
  <span class="local-search local-search-plugin">
  	  <i class="fa fa-search"></i>	
      <input type="search" placeholder="Search here......" id="local-search-input" class="local-search-input-cls">
      <div id="local-search-result" class="local-search-result-cls"></div>
  </span>
<% } %>