<div class="tags-main-container">
	<p class="tags-counter">
		<i class="fa fa-tags"></i> <span><%= site.tags.length %>&nbsp</span><%= __('Tag-info.Text') %>
	</p>
	<div class="tags-tagscloud">
		<%- tagcloud({
			min_font: .98,
			max_font: 2.4,
			unit: 'rem',
			amount: 9999,
			color: true,
			start_color: '#34495e',
			end_color: '#2E3032',
		}) %>
	</div>
</div>
