<section class="posts">
	<% page.posts.each(function (item){ %>
		<%- partial('_partial/article-excerpt',{item: item}) %>
	<% })%>
</section>
<%- partial('_partial/paginator') %>
<span class="top">
	<a class="to-top">
		<svg>
			<path d="M9.314 0l9.313 9.314-2.12 2.121-7.193-7.192-7.193 7.192L0 9.314z" ></path>
		</svg>
	</a>
</span>