.about-main-container{
	margin-top: 100px;
	min-height: 20rem;
	font-size: 16px;	
	padding: 50px 140px 0 140px;	
	.about-top{
		text-align:center;
		img.author-favicon{
			width: 150px;
			height: 150px;
			border-radius: 50%;
			transition: 2.5s all;
			display:inline-block;
			&:hover{
				transform: rotate(360deg) scale(1.1);
			}
		}
		p.author-name{
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 25px;
			font-weight:bold;
		}
	}
	.about-bottom{
		h3{
			position:relative;
			margin:0;
			&:before{
				content: "";
			    position: absolute;
			    left: -10px;
			    top: 4px;
			    bottom: 0;
			    width: 4px;
			    height: 25px;
			    background-color: $color;
			}
		}
		p{
			margin:0;
		}
		.fa{
			color: #f47466;
		}
		ul{
			margin:0;
			li{
				list-style-type:none;
				position:relative;
				&:before {
				    position:absolute;
					top: 8px;
					left:-20px;
					width: 6px;
					height: 6px;
					border: 3px solid $color;
					border-radius: 50%;
					background: #fff;
					content: "";
				}
				a{
					color:#00c4b6;
					&:hover{
						color:#f47466;
					}
				}
			}
		}
	}
}
