.archive-page-container{
  margin-top: 200px;
}
.posts-counter{
  text-align: center;
  span{
    font-size: 30px;
  }
  .fa-flag{
    color: $color;
  }
} 
.archive{
  margin-left: 30%
  height: 100%
  position: relative
  &:before{
    position: absolute
    top: 0.01em
    bottom: 0.8em
    left: 0.7em
    width: 4px
    height: 100.5%
    content: ''
    background-color: $color;
  }
.time-section{
  padding-left: 40px
  position: relative
  .section-year{
    cursor: pointer
    font-size: 1.6em
    margin-left: 10px
    &:before{
      position: absolute
      left: 6px
      top: 20px
      content: ''
      background: #fff
      width: 12px
      height: 12px
      border: 4px solid $color;
      border-radius: 50%
     } 
    .fa-flag{
      font-size: 25px;
      color: $color;
     }
  }  
  .section-list{
    .section-list-item{
	      margin: 20px 0 45px 10px
	      position: relative
      .archive-title{
	        transition: all .3s ease
	        font-size: 17px;
	        font-weight: bold;
	        color: #34495e;
	        text-decoration: none;
          &:hover{
            color: $color
            padding-left: 10px
          }
          .circle:after{
            position: absolute
            left: -2.33em
            top: 3.2em
            content: ''
            background: #fff;
            border: 3px solid $color;
            width: 6px
            height: 6px
            border-radius: 50%
            transition: all 0.3s;
          }
          &:hover .circle:after{
            border: 3px solid #f47466;
          }
        }    
      .archive-date{
	        color: #99a9bf;
	        font-size: 14px;
	        margin: 5px 0  
          position:absolute;
          top:45px;
          left:-160px;
          transition: all .2s;
          &:hover{
            opacity: 0.6;
            transform: translate(-10px, 0);
          }
        }
      }
    }      
  }
}
  
