.posts-counter{
  text-align: center;
  span{
    font-size: 30px;
  }
  .fa-flag{
    color: $color;
  }
} 
.archive{
  margin-left: 200px
  height: 100%
  position: relative
  &:before{
    position: absolute
    top: 0.01em
    bottom: 0.8em
    left: 0.7em
    width: 4px
    height: auto
    content: ''
    background-color: $color;
  }
.time-section{
  padding-left: 40px
  position: relative
  .section-year{
    cursor: pointer
    font-size: 1.6em
    margin-left: 10px
    &:before{
      position: absolute
      left: 8px
      top: 20px
      content: ''
      background-color: white
      width: 12px
      height: 12px
      border: 2px solid $color
      border-radius: 50%
     } 
    .fa-flag{
      font-size: 25px;
      color: $color;
     }
  }  
  .section-list{
    .section-list-item{
      margin: 20px 0 45px 10px
      position: relative
      .archive-title{
        transition: all .3s ease
        font-size: 17px;
        font-weight: bold;
        color: #34495e;
        text-decoration: none;
        &:hover{
          color: $color
          padding-left: 10px
          }
          .circle:after{
            position: absolute
            left: -2.33em
            top: 3.2em
            content: ''
            background-color: $color
            border: 1px solid #53b3fa;
            width: 10px
            height: 10px
            border-radius: 50%
            transition: all 0.3s;
          }
          &:hover .circle:after{
            background-color:white;
          }
        }    
      .archive-date{
	        color: #999;
	        font-size: 14px;
	        margin: 5px 0  
          position:absolute;
          top:45px;
          left:-160px;
          transition: all .2s;
          &:hover{
            opacity: 0.6;
            transform: translate(-10px, 0);
          }
        }
      }
    }      
  }
}   
 
