.categories-main-container{
	margin-top: 80px ;
	margin-bottom: 30px;
	min-height: 30px;
	.categories-counter{
		span{
			font-size: 50px;
		}
	}
	li{
		list-style-type: circle;
		.category-list-link{	
			text-decoration: none;
			font-size: 18px;
			color: #34495e;
			&:hover{
				color: $color;
			}
		}
		.category-list-count{
			font-size: 16px;
			color: #bbb;
			&:before{
				content: " (";
			}
			&:after{
				content: ") ";
			}
		}
	}
}
.category-page-container{
	.category-page-title{
		.category_title{
			display: inline-block;
			margin-top: 40px;
			padding:10px 0 0 15px;
			color: #34495e;
			font-family: "Sourece Sans pro";
			font-size: 26px;		
		}
		.fa-folder-open{
			color: $color;
		}
	}
}