.categories-main-container{
	margin-top: 200px ;
	margin-bottom: 30px;
	min-height: 30px;
	.categories-counter{
		span{
			font-size: 30px;
		}
	}
	li{
		list-style-type: none;
		.category-list-link{	
			text-decoration: none;
			font-size: 18px;
			color: #34495e;
			position:relative;
			&:before{
				position:absolute;
				top: 2px;
				left:-25px;
				width: 6px;
				height: 6px;
				border: 3px solid $color;
				border-radius: 50%;
				background: #fff;
				content: "";
			}
			&:hover{
				color: $color;
			}
		}
		.category-list-count{
			font-size: 16px;
			color: #99a9bf;
			&:before{
				content: " (";
			}
			&:after{
				content: ") ";
			}
		}
	}
}
.category-page-container{
	margin-top: 180px;
	.category-page-title{
		margin-top:25px;
		text-align:center;
		.category_title{
			display: inline-block;
			padding:0 5px;
			color: #34495e;
			font-family: "Sourece Sans pro";
			font-size: 26px;	
			font-weight:bold;		
			position:relative;
			&::before{
				z-index: 1;
		    position: absolute;
		    bottom: -8px;
		    content: '';
		    display: block;
		    width: 50px;
		    height: 3px;
		    right: 100%;
		    top: 50%;
		    background: #34495e;
			}
			&::after{
				z-index: 1;
		    position: absolute;
		    bottom: -8px;
		    content: '';
		    display: block;
		    width: 50px;
		    height: 3px;
		    left: 100%;
		    top: 50%;
		    background: #34495e;
			}
		}
		.fa-folder-open{
			color: #34495e;
		}
	}
}