.footer1{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg1.jpg) -20px 300px;
}
.footer2{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg2.jpg) 0px -350px;
}
.footer3{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg3.jpg) -20px 230px;
}
.footer4{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg4.jpg) -230px 530px;
}
.footer5{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg5.jpg) -20px 330px;
}
.footer6{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg6.jpg) -260px 500px;
}
.footer7{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg7.jpg) -80px 860px;
}
.footer8{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg8.jpg) -20px 330px;
}
.footer{
	text-align: center;			
	font-family: "-apple-system";
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg8.jpg) -20px 330px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 150px;
	margin-top: 60px;
	padding-top: 54px;
	p a{
		text-decoration-style: dotted;
		color: white;
	}
	p:last-child{
		margin-top:0;
	}	
	p:first-child{
		margin-bottom:0;
	}	
}
#back-to-top{
	z-index:99;
}
#back-to-top:hover{
	background-color: #f47466; 
}