.footer{
	height: 180px;
	margin-top: 60px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align: center;			
	font-family: Lato;
	background: url(https://i.loli.net/2019/07/12/5d288d4b4a6a412359.jpg) -20px 330px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	p{
		margin:0;
		a{
			text-decoration-style: dotted;
			color: white;
		}
	}
}
