.footer{
	text-align: center;			
	font-family: Lato;
	background: url(https://raw.githubusercontent.com/Chorer/MyBlog-Pic/master/Myblogs/hf.jpg) -20px 330px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	height: 150px;
	margin-top: 60px;
	padding-top: 54px;
	p a{
		text-decoration-style: dotted;
		color: white;
	}
	p:last-child{
		margin-top:0;
	}	
	p:first-child{
		margin-bottom:0;
	}	
}
#back-to-top{
	z-index:99;
}
#back-to-top:hover{
	background-color: #f47466; 
}