.header1{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg1.jpg) -20px -600px;
}
.header2{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg2.jpg) -330px -54px;	
}
.header3{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg3.jpg) -20px -120px;
}
.header4{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg4.jpg) -300px -210px;
}
.header5{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg5.jpg)  -140px -370px; 
}
.header6{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg6.jpg)  -240px -432px;
}
.header7{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg7.jpg)   -80px -360px; 
}
.header8{
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg8.jpg)  -290px -127px;
}
.header{			
	position: relative;
	height: 360px;
	font-family:"-apple-system";
	background: url(https://myblog-1258623898.cos.ap-chengdu.myqcloud.com/pic/bg8.jpg)  -290px -127px;
	font-weight:bold;
	.theme{
		position: absolute;
		top:10px;
		left: 40px;
		a{
			text-decoration: none;
			color: white;
			font-size: 18px;
		}
		a:hover{
			opacity:0.8;
		}
		.fa-bars{
			color: white;
			padding-right: 3px;
		}
	}
	.blog-title{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		text-align:center;
		.logo{
			text-decoration: none;
			color: white;
			font-size: 40px;
			cursor:auto;
		}
		.descr{
			color: white;
			font-weight:normal;
		}
	}
	.navbar{
		float:right;
	}
	.menu{
		margin-top:0;
		margin-right:0;
		.fa-search{
			vertical-align:text-bottom;
			color: white;
			&:hover{
				cursor:pointer;
				color:#53b3fa;
			}
		}
		.menu-item{
			display: inline-block;
			margin: 10px;
			padding: 2px 0px 2px 10px;
			.menu-item-link{
				text-decoration: none;
				color: white;
				font-size: 12px;
				position: relative;
				&:after{
					content: ""
					width: 0;
					height: 3px; 
					position: absolute;
					background-color: #53b3fa;
					top: 100%;
					left: 50%;
					transition: all .6s ; 
				}
			}
			&:hover .menu-item-link:after{
				left: 0%;
				width: 100%;
			}
			.menu-item-link2{
				text-decoration: none;
				color: white;
				font-size: 12px;
				position: relative;
				&:after{
					content: ""
					width: 100%;
					height: 3px; 
					position: absolute;
					left: 0%;
					background-color: #53b3fa;
					top: 100%; 
				}
			}
		}
	}
}