.header{			
	height: 330px;
	font-family:Lato;
	background: url(https://raw.githubusercontent.com/Chorer/MyBlog-Pic/master/Myblogs/hf.jpg)  -266px -172px;
	font-weight:bold;
	padding:15px;
	display:flex;
	flex-direction:column;
	.header_top{
		display: flex;
    	justify-content: space-between;
		margin: 0 10px;
		.theme{
			a{
				text-decoration: none;
				color: white;
				font-size: 18px;
			}
			a:hover{
				opacity:0.8;
			}
			.fa-bars{
				color: white;
				padding-right: 3px;
			}
		}
		.navbar{
			.menu{
				margin:0;
				.fa-search{
					vertical-align:text-bottom;
					color: white;
					&:hover{
						cursor:pointer;
						color:#53b3fa;
					}
				}
				.menu-item{
					display: inline-block;
					padding: 0 8px;
					&:before{
						content:"<i class="fa fa-home"></i>";
					}
					.fa{
						color:white;
						font-size:13px;
					}
					.fa-home{
						font-size:15px;
					}
					.menu-item-link{
						text-decoration: none;
						color: white;
						font-size: 12px;
						position: relative;
						&:after{
							content: ""
							width: 0;
							height: 3px; 
							position: absolute;
							background-color: #53b3fa;
							top: 100%;
							left: 50%;
							transition: all .6s ; 
						}
					}
					&:hover .menu-item-link:after{
						left: 0%;
						width: 100%;
					}
					.menu-item-link2{
						text-decoration: none;
						color: white;
						font-size: 12px;
						position: relative;
						&:after{
							content: ""
							width: 100%;
							height: 3px; 
							position: absolute;
							left: 0%;
							background-color: #53b3fa;
							top: 100%; 
						}
					}
				}
			}
		}
	}
	.header_bottom{
		flex-grow:1;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		.blog-title{
			text-align:center;
			.logo{
				text-decoration: none;
				color: white;
				font-size: 36px;
				cursor:auto;
				padding: 11px 30px;
				background-color:black;
			}
			.descrs{
				margin-top:10px;
				.descr{
					color: white;
					font-weight:normal;
					font-size:18px;
				}
			}
		}
	}
}