@media screen and (max-width:1366px){
	.local-search{
		top: -5rem;
    left: 7rem;
    right: 0;
	}
	.search-text{
		display: inline-block;
    margin-right: 1.2rem;
	}
	.fa-search{
		left: 0.6rem;
    top: 1.1rem;
	}
	.header{
		margin-bottom:-7rem;
	}
}
@media screen and (max-width:952px){
	.local-search{
    display:none;
	}
	.post-toc{
		display: none;
	}
	.header{
		.header_top{
			padding:12px 120px;
		}
	}
}
@media screen and (max-width:680px){
	/* html */
	html{
		font-size: 62.5%;
		width: auto;
	 }
	/* header */
	.header{
		height: 26rem;
		padding: 0;
		.header_top{
			flex-grow:1;
			padding: 2rem 0 0 0;
			.theme{
				display:none;
			}
			.navbar{
				width: 100%	
				.menu{		
					padding:0;	
					display:flex;
					justify-content:space-around;
					.menu-item{
						padding:0;
						.fa{
							font-size: 1.4rem;
						}
						.menu-item-link{
							font-size: 1.4rem;
						}
						.menu-item-link2{
							font-size: 1.4rem;
						}
					}
				}
			}
		}
		.header_bottom{
			flex-grow:10;
			.blog-title{
				.logo{
					font-size: 3rem;
				}
				.descr{
					font-size: 1.6rem!important;
				}
			}
			.blog-down{
				top:95%;
			}
		}
	}
	/* footer */
	.footer{
		font-size:1.4rem;
		height: 10rem;
		margin-top: 1rem;
		p{
			margin: 0 auto;
		}
	}
	/* post */
	.local-search{
		display:none;
		top: -6rem!important;
    left: 3rem!important;	
  }  
	.fa-search{
		left: 1rem;
    top: 1.8rem;
	}
	.post_full{
		padding: 0 1rem;
		margin:0 auto;
		width:95%;
		font-size:1.4rem;			
		.post-title{
			padding-top: 2rem;
			font-size:1.8rem;
		}
		.post-info{
			font-size:1.3rem;
		}
		.post-tags{
			a{
				font-size: 1.3rem;
			}
		}
		.post-sub_title{
			font-size: 1.4rem;
		}
		.post-content{
			overflow:hidden;
			h1{
				font-size:1.8rem;
				margin:0;
			}
			h2{
				font-size:1.7rem;
				margin:0;
			}
			h3{
				font-size: 1.6rem;
				margin:0;
			}
			h4{
				font-size: 1.5rem;
				margin:0;
			}
			h5{
				font-size: 1.4rem;
				margin:0;
			}
			h6{
				font-size: 1.3rem;
				margin:0;
			}
			li{
				.circle{
					left:-16px!important;
					width:0.4rem!important;
					height:0.4rem!important;
				}
			}
			center{
				font-size:1.1rem!important;
			}
			blockquote{
				width:90%;
				padding-left:1.5rem;
				ul{
					padding-left:1rem;
				}
			}
			iframe{
				max-width:38rem;
				height:22rem;
			}
			.topBar{
				height:4rem;
				.dot{
					top:1.1rem;
					left:1.6rem;
					svg{
						circle{
							cx:10;
							cy:10;
							r:10;
						}
					}
				}
				.copy{
					z-index:1;
					top:1.2rem;
					right:0.7rem;
					svg{
						width:2rem;
						height:2rem;
					}
				}
			}
			pre{
				padding-left:0.4rem;
				margin-top:-0.1rem;
				max-width:35.8rem;
				code{
					font-size:1.2rem;
					.line-numbers-rows{
						top:-0.1rem;
						left:-5.8rem;
						span{
							height:2.08rem;
						}
					}
				}
			}
		}
			.post-nav{
				padding:1rem;
				width:auto;
				a{
					font-size:1.3rem;
				}
				&:before{
					top:-1.3rem;
					width:90%;
				}
			}
		}
		.post-toc{
			display:none;
		}
	/* index */
	.post_except{
		width:90%;
		padding: 0 0 1rem 0;
		.post-title{
			.post-title-link:after{
				left:-1rem;
			}
		}
		.post-sub_container{
			padding-top:.5em;
			.post-tags{
				display:block;
				.fa{
					font-size:16px!important;
				}
				a{
					padding:0.3rem 0.5rem;
				}
			}
		.more-btn{
			padding:.0 0 0 .5rem;
			height:2.6rem;
			width:6em;
			a{
				font-size:1.3rem;
				&:after{
					font-size:1.8rem;
					top: -1rem;
    			right: -3.4em;
					}
				}
			}
		}
	}	
	/* tags */
	.tags-main-container{
		margin:0.8rem;
		margin-top:10rem;
		.tags-counter{
			font-size:2rem;
			margin-top:0;
			span{
				font-size:2.5rem;
			}
		}
		.tags-tagscloud{
			a{
				font-size: 1.2rem!important;
				line-height:3rem;
			}
		}
	}
	.tag-page-title{
		padding-left:0.8rem;
		.tag_title{
			margin-top:0.6rem!important;
			margin-bottom:0.6rem!important;
			padding-left:0.6rem!important;
			font-size:1.6rem!important;
		}
		.fa{
			font-size: 2rem;
		}
	}
	/*
	 * about
	 */
	.about-main-container{
		font-size:1.4rem;
		padding:5rem 5rem 1rem 5rem!important;
		p:first-child{
			margin-bottom:0;
			img{
				width:15rem;
				height:15rem;
				margin-bottom:2px;
			}
		}
	} 
	/*
	 * catgories
	 */
	.categories-main-container{
		margin-top:10rem;
		.categories-counter{
			margin-left: 5rem;
			margin-bottom: 0;
			font-size: 2.4rem;
			span{
				font-size:2.5rem;
			}
		}
		.category-list{
			margin-left:12rem;
			margin-top: 0;
			font-size: 3rem;
			.category-list-count{
				font-size: 1.6rem;
			}
			.category-list-link{
				font-size: 1.6rem;
			}
			.category-list-item{
				line-height:2.4rem;
			}
		}
	} 
	.category-page-title{
		padding-left:0.8rem;
		.category_title{
			margin-top:0.6rem!important;
			margin-bottom:0.6rem!important;
			padding-left:0.6rem!important;
			font-size:1.6rem!important;
		}
		.fa{
			font-size: 2rem;
		}
	}
	/*
	 * archives
	 */
	.archive-page-container{
		margin-top:10rem;
	} 
	 .archive{
	 	margin-left:25%;
	 	margin-bottom:1rem;
	 	&::before{
	 		left: 0.5rem;
	 	}
	 	.time-section{
	 		padding-left:1rem;
	 		.section-year{
	 			font-size: 2rem;
	 			padding-top:2.8rem;
	 			&::before{
	 				width: 1rem;
	 				height:1rem;
	 				left: -0.3rem;
	 				top: 3.6rem;
	 			}
	 			.fa{
					font-size:3.4rem;
	 			}
	 		}
	 		.section-list{
				.section-list-item{
					margin-bottom:3rem;
					.archive-title{
						font-size: 1.3rem!important;
						.circle:after{
							width: 0.8rem;
							height: 0.8rem;
							left: -2.0rem;
		 					top: 3.5rem;
						}
					}
					.archive-date{
						top:2.8rem;
						left:-10.5rem;
						font-size:1.3rem;
					}
				}
	 		}
	 	}
	 }
	 .posts-counter{
		 	font-size: 2rem;
		 	span{
				font-size: 2.5rem;
		 	}
	 	}
	 /*
	  * toast
	  */	
	 .toast{
	 	font-size:1.3rem;
	 	left:26%;
	 	padding: 0.7rem 1.4rem;
	 	border-radius:3.5rem;
	 } 
	 /*
	  * paginator
	  */
	 .pager-nav{
	 	padding:0;
	 	.page-number{
	 		font-size:1.5rem;
	 		margin:0.5rem;
	 	}
	 	.extend{
	 		font-size:1.4rem;
	 		margin:0.6rem;
	 	}
	 }	
	 /*
	  * back-to-top
	  */
	 #back-to-top{
	 	width:6rem;
	 	height:6rem;
	 	svg{
			width:4rem;
			height:3rem;
	 	}
	 } 
	 /*
	  * share-button
	  */
	 .at-expanding-share-button-toggle-bg{
	 	span{
			width: 6rem!important;
			height:6rem!important;
			background-size:4rem;
	 	}
	 }
	 .at-expanding-share-button-services-list{
	 	li{
			width:100px;
			height:100px;
	 	}
	 } 
	 .v{
	 	margin:0.56rem!important;
	 	width:auto!important;
	 	.vwrap{
	 		padding:.3rem!important;
		 	.vheader .vinput{
		 		font-size:1.1rem!important;
		 	}
		 	.vedit{
		 		#veditor{
		 			font-size:2rem!important;
		 			padding-bottom:0!important;
		 		}
		 		.vctrl{
			 		font-size:1.2rem!important;
			 	}
		 	}
		 	.vcontrol{
		 		padding:.4rem;
		 		padding-top:0!important;
		 		.vbtn{
			 		font-size:1.2rem;
			 		padding: 0.6rem 2.20rem;
			 	}
		 	}
		 }
		.vlist{
			.vcard{
				padding:0 2rem;
			}
		} 
		.info{
			.txt-right{
				font-size:1.2rem;
				padding:0 1rem;
			}
			a{
				font-size:1.2rem!important;
			}
		} 
	 }	
}
@media screen and (max-width:369px){
	/* html */
	html{
		font-size: 62.5%;
		width: auto;
	 }
	/* header */
	.header{
		height: 20rem;
		.theme{
			left:1rem;
			font-size:1.8rem;
			a{
				font-size:1.6rem;
			}
		}
		.blog-title{
			top:40%;
			.logo{
				font-size: 2rem;
			}
			.descr{
				font-size: 1.8rem;
			}
		}
		.navbar{
			float:none;
			padding-top: 13rem;
			display:flex;
			justify-content:center;
			.menu{		
				padding:0;		
				.menu-item{
					margin:0.7rem;
					.menu-item-link{
						font-size: 0.6rem;
					}
					.menu-item-link2{
						font-size: 0.6rem;
					}
				}
			}
		}
	}
}



