.posts{		
	.post{
		display: flex;
		display:-webkit-flex;
		flex-direction: column;
		align-items:center;
		-webkit-align-items:center;
		justify-content:center;
		width: 700px;
		margin: 3em auto;
		padding: 20px 60px;
		border-radius: 8px;
		font-size: 15px;
		transition: box-shadow 1s;
		background-color: white;
	}
	.post_hover:hover{
		box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
	}
	.post:first-child{
		margin-top:50px;
	}
	.post .post-title{	
		font-size: 1.4em;
		padding-top: 15px;
		padding-bottom: 4px;
		.post-title-link{
			color: #34495e;
			text-decoration: none;
			transition: color 0.2s
			&:hover{
				color:$color;
			}
		}
	}
	.post .post-sub_title{
		font-size: 1.1em;
		color: #99a9bf;
	}
	.post .post-date{
		color: #99a9bf;
		font-size: 14px;
		padding-top: 15px;
		.date-text{
			.fa-calendar{
					margin-right:4px;
				}
			}
		}
	.post .post-tags{
		font-size: 14px;
		.post-tags-list{
			color: #99a9bf;
		}
		a{	
			color: #99a9bf;
			text-decoration: none;
			padding-right: 8px;
			&:hover{
				border-bottom: 1.5px solid #bababa;
				opacity: 0.7;
			}
		}
	}
	.post .post-statistic{
		font-size: 14px;
		color: #99a9bf;
		padding-bottom: 30px;
	}	
	.post .post-content{		
		a{
			color: #368CCB;
			text-decoration: none;
		}
		h1{
			font-size:28px;
		}
		h2{
			font-size:26px;
		}
		h3{
			font-size:24px;
		}
		h4{
			font-size:22px;
		}
		h5{
			font-size:20px;
		}
		h6{
			font-size:18px;
		}
		hr{
			border: 2px dashed #53b3fa;
    		margin: 40px 0 40px 0;
		}
		blockquote{
			padding: 2px 10px;
			width: 660px;
			border-left: 5px solid #f47466;
			background-color: #f5f5f5;
			list-style: none;
			word-break: break-all;
			ul{
				padding-left:20px;
			}
		}
		table{
			width: 100%;
			border-collapse: collapse;
			th{
				border: 1px solid #E6E6E6;
				font-weight: bold;
				padding: 10px;
				background-color: #F3F3F3;
			}
			td{
				border: 1px solid #E6E6E6;
				padding: 10px;
			}	
		}	
		.topBar{
			height: 45px;
			background-color: #263238;
			margin-left:0;
			position: relative;
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			.dot{
				position: absolute;
			    left: 24px;
			    top: 15px;
			}
			.copy{
				position: absolute;
				right: 12px;
				top: 11px;
				button{
					background-color: #263238;
					border: none;
					outline:none;
					cursor: pointer;
				}
			}
		}
		pre{
			background-color:#263238;
			max-width: 650px;
			overflow-x:auto;
			padding: 0px 20px 20px 61px;
			margin-top:0;
			border-radius:0;
			border-bottom-left-radius:10px;
			border-bottom-right-radius:10px;
			code{
				font-family: "Lucida console"!important;
				font-size: 14px;
			}
		}
		.littleCode{
			color: #ff502c;
			font-size: 0.9em;
			font-family: Menlo;
			vertical-align: middle;
			background-color: #fff5f5;
			padding:.065em .4em;
		}	
	}
	.post-nav{
		margin-top:30px;
		margin-bottom:25px;
		width:100%;
		position:relative;
		a{
			font-size:14px;
			color:#99a9bf;
			&:hover{
				color:#f47466;
				text-decoration:none;
			}
		}
		.post-nav-prev{
			float:left;
			.fa-chevron-left{
				margin-right:4px;
			}
		}
		.post-nav-next{
			float:right;
			.fa-chevron-right{
				margin-left:4px;
			}
		}
		&:before{
			content:"";
			width:100%;
			border: 1px solid #f0f0f0;
			position:absolute;
			top:-12px;
		}
	}		
		img{
			max-width: 600px;
			display: block;
			margin: 0 auto;
		}	
		.more-btn{
			display: inline-block;
			width: 110px;
			height: 30px;
			text-align:center;
			padding:2px 10px;
			margin-top: 10px;
			background-color: $color;
			border-radius: 2px;
			border:none;
			outline:0;
			transition: all 0.5s;
			&:hover{
				background-color:#f47466;
			}
			&:hover a{
		      padding-right: 18px;
		    }
		    &:hover a:after{
		      opacity: 1;
		      right: 5px;
		    }
			a{
				color: white;
				font-size:14px;
				font-family:Lato;
				text-decoration: none;	
				position: relative;
                transition: 0.5s;
				&:after{
				  content: '»';
			      position: absolute;
			      opacity: 0;
			      right: -20px;
			      top: -5px;
			      transition: 0.5s;
			      font-size:20px;
				}		
			}
		}
}
.post-toc{
	@media screen and (max-width:970px){
					display: none;
				}
	.fa-th-large,.fa-angle-double-up{
		margin-right: 5px;
		vertical-align:text-bottom;
	}
	.fa-angle-double-up{
		font-size:24px;
		vertical-align:bottom;
	}
	.real-catalog-text{
		padding-bottom: 10px;
		border-bottom: 3px dashed $color;
		margin-bottom:15px;
		color: $color;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}
	.real-toTop-text{
		cursor: pointer;
		color: $color;
		font-size: 18px;
		font-weight: bold;
		padding-top: 10px;
		text-align: center;
		&:hover{
			opacity: 0.6;
		}
	}
	.toc{
		display: inline-block;
		position: absolute;
		right: 14px;
		top: 381px;
		width: 250px;
		padding: 12px 20px 12px 0px;
		li{
			list-style: none;
			line-height: 20px;
		}
		.toc-item{
			padding-left:20px;
			margin-top:3px;
		}
		.toc-child{
			padding-left: 10px;
		}
		a{
			color: #34495e;
			font-size: 14px;
			display:block;
			text-decoration:none;
			padding: 3px;
			&:hover{
				color: $color;
			}
		}
	}	
}
.actived{
	background-color: #05d3f9;
	color: white!important;
	border-left: 4px solid #53b3fa;
}
#vcomments{
	width: 800px;
	margin-left: 80px;
	margin-top: 40px;
	font-family: "Source Sans pro";
	input{
		font-size: .7em;
	}
	#veditor{
		font-size: 1em;
	}
	button:hover{
		background: $color;
		border: 1px solid $color; 
		color: white;
	}
}
.toast{
	position: fixed;
    bottom: 40px;
    font-size: .8125rem;
    font-family: Roboto;
    letter-spacing: -0.5px;
    left: 43%;
    color: white;
    background-color: black;
    border-radius: 23px;
    padding: 6px 14px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    transition: all .3s ease;
}
