.posts{
	@media screen and (max-width:1024px){
					width: 1030px;
				}
	@media screen and (max-width:970px){
					width: 970px;
				}		
	.post{
		display: flex;
		display:-webkit-flex;
		flex-direction: column;
		align-items:center;
		-webkit-align-items:center;
		justify-content:center;
		width: 700px;
		@media screen and (max-width:1024px){
						width: 1030px;
						padding: 0;
					}
		@media screen and (max-width:970px){
						width: 970px;
						padding: 0;
					}
		margin: 1em auto;
		padding: 30px 70px;
		border-top: 5px solid $color;
		font-size: 0.8em;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 
					0 3px 1px -2px rgba(0,0,0,.06), 
					0 1px 5px 0 rgba(0,0,0,.12), 
					0 -1px 0.5px 0 rgba(0,0,0,.09);
		&:hover{
				box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
			}
	}
	.post:first-child{
		margin-top:20px;
	}
	.post .post-title{
		@media screen and (max-width:1024px){
					padding-top: 20px;
				}
		@media screen and (max-width:970px){
					padding-top: 20px;
				}		
		font-size: 1.2em;
		padding-bottom: 24px;
		.post-title-link{
			color: #34495e;
			text-decoration: none;
			&:hover{
				color:$color;
			}
		}
	}
	.post .post-date{
		color: #BABABA;
		font-size: 14px;
		.date-text{
			.fa-calendar{
					margin-right:4px;
				}
			}
		}
	.post .post-tags{
		font-size: 14px;
		.post-tags-list{
			color: #bababa;
		}
		a{	
			color: #bababa;
			text-decoration: none;
			padding-right: 8px;
			&:hover{
				border-bottom: 1.5px solid #bababa;
				opacity: 0.7;
			}
		}
	}
	.post .post-statistic{
		font-size: 14px;
		color: #bababa;
		padding-bottom: 30px;
	}	
	.post .post-content{
		@media screen and (max-width:1024px){
					padding-left: 40px;
					padding-right: 40px;
				}
		@media screen and (max-width:970px){
					padding-right: 20px;
					padding-left: 20px;
				}		
		a{
			color: #368CCB;
			text-decoration: none;
		}
		code{
			max-width: 650px;
			overflow-x:auto;
			}	
		}
		.littleCode{
			color: #c7254e;
			font-size: 0.9em;
			font-family: Consolas;
			vertical-align: middle;
			background-color: #f6f6f6;
			padding:3px;
		}
		img{
			max-width: 600px;
			display: block;
			margin: 0 auto;
		}	
		table{
			width: 100%;
			border-collapse: collapse;
			th{
				border: 1px solid #E6E6E6;
				font-weight: bold;
				padding: 10px;
				background-color: #F3F3F3;
			}
			td{
				border: 1px solid #E6E6E6;
				padding: 10px;
			}	
		}	
		.more-btn{
			display: inline-block;
			width: auto;
			height: auto;
			padding: 3px 18px 2px 20px;
			border: 2px solid $color;
			border-radius: 2px;
			&:hover{
				background-color: $color;
			}
			a{
				color: black;
				text-decoration: none;			
			}
		}
		blockquote{
			margin: 0 0 1rem;
		    padding: .5rem .8rem;
		    border-left: 5px solid $color;
		    background-color: #f5f5f5;
		    list-style: none;
		    word-break: break-all;
		}
}
.post-toc{
	.fa-list,.fa-chevron-circle-up{
		margin-right: 14px;
	}
	.real-catalog-text{
		padding-bottom: 10px;
		color: $color;
		text-align: center;
		font-size: 17px;
		font-weight: bold;
	}
	.real-toTop-text{
		cursor: pointer;
		color: $color;
		font-size: 17px;
		font-weight: bold;
		padding-top: 10px;
		text-align: center;
		&:hover{
			opacity: 0.6;
		}
	}
	.toc{
		border-top: 5px solid $color;
		display: inline-block;
		position: absolute;
		background-color: white;
		right: 14px;
		top: 320px;
		width: 220px;
		padding: 12px 20px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 
					0 3px 1px -2px rgba(0,0,0,.06), 
					0 1px 5px 0 rgba(0,0,0,.12), 
					0 -1px 0.5px 0 rgba(0,0,0,.09);
		li{
			list-style: none;
			line-height: 22px;
		}
		.toc-level-2{
			padding-left:20px;
		}
		.toc-child{
			padding-left: 13px;
		}
		a{
			color: #34495e;
			font-size: 14px;
			&:hover{
				color: $color;
			}
		}
	}	
}
.actived{
	color: #ea6f5a;
}
#vcomments{
	width: 800px;
	margin-left: 80px;
	margin-top: 40px;
	font-family: "Source Sans pro";
	input{
		font-size: .7em;
	}
	#veditor{
		font-size: 1em;
	}
	button:hover{
		background: $color;
		border: 1px solid $color; 
		color: white;
	}
}
