.fa-search{
  position:absolute;
  right:190px;
  top:51px;
  opacity: 0.5;
  z-index:3;
  font-size: 18px!important;
}
.local-search {
  min-width: 218px;
  z-index:2;
  position:absolute;
  top:400px;
  right:95px;
  .search-text{
		font-size:18px;
		font-weight:bold;
		color:#99a9bf;
		text-indent:6px;
	}
  .local-search-input-cls {
      width: 205px;
      height:35px;
      margin: 0;
      padding: 0 4px 0 32px;
      margin-top:10px;
      border-radius: 4px;
      border: 1px solid white;
      color: #666;
      outline: none;
      font-size: 15px;
      transition: all 0.3s;
      &:focus{
        width:215px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(83,179,250);
         box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(83,179,250);
      }
  }
  .local-search-result-cls {
      position: absolute;
      z-index: 99;
      width: 300px;
      top: 66px;
      right: -81px;
      .local-search-empty {
          color: #888;
          line-height: 44px;
          text-align: center;
          display: block;
          font-size: 16px;
          font-family: Lato;
        }
      #local-search-close {
          content: 'x';
          position: absolute;
          right: 9px;
          top: 1px;
          background: $color;
          color: white;
          border-radius: 100%;
          line-height: 25px;
          text-align: center;
          font-size: 26px;
          font-family: consolas;
          display: block;
          width: 30px;
          height: 30px;
          cursor: pointer;
          font-style: normal;
          font-weight: normal;
          transform: rotateZ(0);
          transition: all 0.3s;
          &:hover {
            background-color: #f47466;
            transform: rotateZ(180deg);
            transition: all 0.3s;
          }
        } 
      .search-result-title {
            color: $color;
            font-weight: 900;
            font-family: Lato;
            font-size: 16px!important;
            &:hover {
              color: #f47466;
              text-decoration: underline;
            }
        }
      .search-result {
            color: #999;
            em{
            	font-style:normal;
            	font-size:14px;
            	background-color:#fff5f5;
            	padding:.065em .4em;
            }
        }   
      ul{
          width: 240px;
          max-height: 450px;
          min-height: 0;
          height: auto;
          overflow-y: auto;
          border-radius: 6px;
          padding: 10px 20px;
          background: #FFF;
        li{
            text-align: left;
            font-family: Lato;
            border-bottom: 2px dashed #05d3f9;
            padding-bottom: 5px;
            margin-bottom: 20px;
            line-height: 20px;
            font-weight: normal;
            list-style-type: none;
            &:last-child {
              border-bottom: none;
              margin-bottom: 0;
            }
            a {
              margin-top: 20px;
              font-size: 16px;
            }
            p {
              margin-top: 10px;
              font-size: 13px;
              max-height: 124px;
              overflow: hidden;
            }
            em.search-keyword {
              color: #f47466;
              font-weight: 900;
              padding: 5px;
            }
        }
      }
    }

}






