.tags-main-container{
	.tags-counter{
		text-align: center;
		margin-top:60px;
		span{
			font-size: 30px;
		}
	}
	.tags-tagscloud{
		min-height: 20rem;
		a{
			display: inline-block;
			color: #acb3c2;
			text-decoration: none;
			margin: 7px;
			line-height: 1.2;
			transition: .2s ease-in-out;
			&:hover{
				color:$color!important;
				border-bottom: 1.5px solid $color;
				transform: translate(10px, 0);
			}
		}
	}
}
.tag-page-container{
	.tag-page-title{
		margin-top:25px;
		.tag_title{
			display: inline-block;
			padding-left:5px;
			color: #34495e;
			font-family: "Sourece Sans pro";
			font-size: 26px;	
			font-weight:bold;	
		}
		.fa-tags{
			color: #34495e;
		}
	}	
}




