.tags-main-container{
	margin-top: 120px;
	padding-left: 40px;
	width: 100%;
	.tags-counter{
		text-align: center;
		span{
			font-size: 50px;
		}
	}
	.tags-tagscloud{
		min-height: 20rem;
		a{
			display: inline-block;
			color: #acb3c2;
			text-decoration: none;
			margin: .2rem 1.4rem .8rem .2rem;
			line-height: 1.2;
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
			&:hover{
				opacity: 0.6;
				border-bottom: 1.5px solid #acb3c2;
				transform: translate(10px, 0);
			}
		}
	}
}
.tag-page-container{
	.tag-page-title{
		margin-top:25px;
		.tag_title{
			display: inline-block;
			padding-left:5px;
			color: #34495e;
			font-family: "Sourece Sans pro";
			font-size: 26px;	
			font-weight:bold;	
		}
		.fa-tags{
			color: #34495e;
		}
	}	
}




