.tags-main-container{
	margin-top: 200px;
	.tags-counter{
		text-align: center;
		margin-top:60px;
		span{
			font-size: 30px;
		}
	}
	.tags-tagscloud{
		min-height: 20rem;
		a{
			display: inline-block;
			color: #acb3c2;
			text-decoration: none;
			margin: 7px;
			line-height: 1.2;
			transition: .2s ease-in-out;
			&:hover{
				color:$color!important;
				border-bottom: 1.5px solid $color;
				transform: translate(10px, 0);
			}
		}
	}
}
.tag-page-container{
	margin-top:180px;
	.tag-page-title{
		margin-top:25px;
		text-align:center;
		.tag_title{
			display: inline-block;
			padding:0 5px;
			color: #34495e;
			font-family: "Sourece Sans pro";
			font-size: 26px;	
			font-weight:bold;	
			position:relative;			
			&::before{
				z-index: 1;
		    position: absolute;
		    bottom: -8px;
		    content: '';
		    display: block;
		    width: 50px;
		    height: 3px;
		    right: 100%;
		    top: 50%;
		    background: #34495e;
			}
			&::after{
				z-index: 1;
		    position: absolute;
		    bottom: -8px;
		    content: '';
		    display: block;
		    width: 50px;
		    height: 3px;
		    left: 100%;
		    top: 50%;
		    background: #34495e;
			}
		}
		.fa-tags{
			color: #34495e;
		}
	}	
}




