.posts-counter{
  text-align: center;
  span{
    font-size: 30px;
  }
} 
.archive{
  margin-left: 200px
  height: 100%
  position: relative
  &:before{
    position: absolute
    top: 0.01em
    bottom: 0.8em
    left: 0.7em
    width: 4px
    height: auto
    content: ''
    background-color: $color;
  }
.time-section{
  padding-left: 30px
  position: relative
  .section-year{
    cursor: pointer
    color: #34495e
    font-size: 1.6em
    margin-left: 10px
    &:before{
      position: absolute
      left: 8px
      top: 16px
      content: ''
      background-color: white
      width: 12px
      height: 12px
      border: 2px solid $color
      border-radius: 50%
     } 
  }  
  .section-list{
    .section-list-item{
      margin: 20px 0 20px 10px
      position: relative
      &:before{
        position: absolute
        left: -29px
        top: 7px
        content: ''
        background-color: $color
        width: 10px
        height: 10px
        border-radius: 50%
        }
      .archive-title{
        transition: all .3s ease
        font-size: 17px;
        font-weight: bold;
        color: #34495e;
        text-decoration: none;
        }
        .archive-title:hover{
          color: $color
          padding-left: 10px
          }
      .archive-date{
        color: gray
        font-size: 0.6em
        margin: 5px 0  
        }
      }
    }      
  }
}    
