.categories-main-container{
	margin-top: 40px ;
	margin-bottom: 40px;
	min-height: 30px;
	.category{
		padding-bottom: 8px;
		padding-left: 25px;
		.point{
			display: inline-block;
			width: 13px;
			height: 13px;
			background-color: rgb(41,183,200);
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		}
		a{	
			left: 200px;
			text-decoration: none;
			padding-left: 10px;
			color: rgb(41,183,200);
			transition: border-bottom 1s ease-in;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}