.categories-main-container{
	margin-top: 40px ;
	margin-bottom: 40px;
	min-height: 30px;
	.category{
		display: relative;
		padding-bottom: 8px;
		.point{
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-top: 8px;
			margin-left: -6px;
			position: absolute;
			left: 220px;
			background-color: rgb(41,183,200);
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
		}
		span a{
			text-decoration: none;
			color: rgb(41,183,200);
			transition: border-bottom 1s ease-in;
			position: relative;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}