.categories-main-container{
	margin-top: 80px ;
	margin-bottom: 30px;
	min-height: 30px;
	.categories-counter{
		span{
			font-size: 50px;
		}
	}
	li{
		list-style-type: circle;
		.category-list-link{	
			text-decoration: none;
			font-size: 18px;
			color: #34495e;
			&:hover{
				color: $color;
			}
		}
		.category-list-count{
			font-size: 16px;
			color: #bbb;
			&:before{
				content: " (";
			}
			&:after{
				content: ") ";
			}
		}
	}
}
.category-page-container{
	.category-page-title{
		cursor:pointer;
		display: inline-block;
		position: relative;
		margin-bottom: 60px;
		left: 2px;
		top: 4px;
		background-color: $color;
		color: white;
		font-family: "Sourece Sans pro";
		font-size: 26px;
		font-weight: normal;
		padding-left: 15px;
		padding-right: 20px;
	}
	.category-page-title:before{
			content: '';
     		position: absolute;
   			top: -1px;
    		right: -20px;
     		height: 0;
     		width: 0;
     		border-top: 20px solid transparent;
     		border-left: 20px solid $color;
     		border-bottom: 20px solid transparent;
		}	
}