.footer{
	background: -webkit-linear-gradient(left, #2874B2 0%, #29c6cd 100%);
	font-family: "Comic Sans MS";
	color: white;
	height: 240px;
	display: flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center ;
		.footer-info p a{
			text-decoration-style: dotted;
			color: white;
		}	
}