.pager-nav{
	padding-top: 35px;
	text-align: center;
	a{
		text-decoration: none;
	}
	.page-number{
		display: inline-block;
		padding: 3px 3px 0 3px;
		margin: 5px;
		width: 25px;
		height: 25px;
		color: #fff;
		font-size: 16px;
		background-color: #34495e;
		border-radius: 2px;
		&:hover{
			opacity: 0.7;
		}
	}
	.current{
		background-color: $color;
	}
	.extend{
		margin:25px;
		color: #34495e;
		&:hover{
			opacity: 0.7;
		}
	}
}