.pager-nav{
	@media screen and (max-width:1024px){
					position: relative;
					width: 1030px;
				}
	@media screen and (max-width:970px){
					position: relative;
					width: 970px;
				} 
	.pager-ul{
		@media screen and (max-width:1024px){
					position: static;
				}
		position: relative;
		height: 30px;		 
		.pager-li{
			display: inline-block;
			position: absolute;
			padding-top: 4px;
			padding-bottom: 4px;
			list-style: none;
			background-color: #29b7c8;
			a{
				font-family: "Source Sans Pro";
				font-size: 18px;
				text-decoration: none;
				color: white;
				padding: 14px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		#pager-left{
			@media screen and (max-width:1024px){
					left: 25%;
				}	
			clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);
			-webkit-clip-path: polygon(15% 0%, 100% 1%, 100% 100%, 15% 100%, 0% 50%);	
			padding-left: 18px;	
			left: 0;
			} 		
		#pager-right{
			@media screen and (max-width:1024px){
					right: 30%;
				}
			clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
			-webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
			padding-right: 20px;
			right: -10px; 
			} 	
		}
	}	