.posts{
	@media screen and (max-width:1024px){
					width: 1030px;
				}
	@media screen and (max-width:970px){
					width: 970px;
				}
	.post{
		display: flex;
		display:-webkit-flex;
		flex-direction: column;
		align-items:center;
		-webkit-align-items:center;
		justify-content:center;
		width: 870px;
		@media screen and (max-width:1024px){
						width: 1030px;
						padding: 0;
					}
		@media screen and (max-width:970px){
						width: 970px;
						padding: 0;
					}
		margin: 1em auto;
		padding: 30px 50px;
		border-top: 5px solid rgb(41,183,200);
		font-size: 0.8em;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 
					0 3px 1px -2px rgba(0,0,0,.06), 
					0 1px 5px 0 rgba(0,0,0,.12), 
					0 -1px 0.5px 0 rgba(0,0,0,.09);
		&:hover{
				box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
			}
	}
	.post:first-child{
		margin-top:20px;
	}
	.post .post-title{
		@media screen and (max-width:1024px){
					padding-top: 20px;
				}
		@media screen and (max-width:970px){
					padding-top: 20px;
				}
		padding-bottom: 15px;		
		font-size: 1.2em;
		.post-title-link{
			color: black;
			text-decoration: none;
			&:hover{
				color:#29b7c8;
			}
		}
	}
	.post .post-time{
		color: #BABABA;
		.time-text{
			font-weight: bold;
			}
		}
	.post .post-tags{
		padding-bottom: 15px;
		.post-tags-list{
			color: #bababa;
			font-weight: bold;
		}
		a{	
			color: #bababa;
			text-decoration: none;
			padding-right: 8px;
			&:hover{
				border-bottom: 1.5px solid #bababa;
			}
		}
	}	
	.post .post-content{
		@media screen and (max-width:1024px){
					padding-left: 40px;
					padding-right: 40px;
				}
		@media screen and (max-width:970px){
					padding-right: 20px;
					padding-left: 20px;
				}		
		a{
			color: #368CCB;
			text-decoration: none;
		}
		.code,code{
			max-width: 800px;
			display: inline-block;
			overflow-x:auto;
			color: #c7254e;
			font-size: 1em;
			font-family: Consolas;
			vertical-align: middle;
			background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
			}	
		}
		img{
			max-width: 600px;
			display: block;
			margin: 0 auto;
		}	
		table{
			width: 100%;
			border-collapse: collapse;
			th{
				border: 1px solid #E6E6E6;
				font-weight: bold;
				padding: 10px;
				background-color: #F3F3F3;
			}
			td{
				border: 1px solid #E6E6E6;
				padding: 10px;
			}	
		}	
		.more-btn{
			display: inline-block;
			width: auto;
			height: auto;
			padding: 3px 18px 2px 20px;
			border: 2px solid rgb(41,183,200);
			border-radius: 2px;
			&:hover{
				background-color: rgb(41,183,200);
			}
			a{
				color: black;
				text-decoration: none;			
			}
		}
		blockquote{
			margin: 0 0 1rem;
		    padding: .5rem .8rem;
		    border-left: 5px solid #29b7c8;
		    background-color: #f5f5f5;
		    list-style: none;
		    word-break: break-all;
		}
}
.top{
	.to-top{
		padding: 20px 24px 0 24px;
		border-radius: 4px;
		background-color: #ccc;
		transition: background-color 0.6s;
		&:hover{
			opacity: 0.8;
			background-color: #29b7c8;
		}
		svg{
			width: 18px;
			height: 30px;
			path{
				fill: white;
			}
		}
	}
}
#vcomments{
	margin-left: 15px;
	margin-top: 40px;
	font-family: "Source Sans pro";
	input{
		font-size: .8em;
	}
	span,textarea{
		font-size: 1em;
	}
	button:hover{
		background: #29b7c8;
		border: 1px solid #29b7c8; 
		color: white;
	}
}
