.tags-main-container{
	margin-top: 120px;
	padding-left: 40px;
	width: 100%;
	.tagscloud{
		min-height: 20rem;
		a{
			color: #acb3c2;
			text-decoration: none;
			padding: .5rem;
			padding-bottom: .1rem;
			margin: .2rem;
			margin-right: 1rem;
			border-bottom: 1.5px solid #acb3c2;
			line-height: 2;
			white-space: nowrap;
			-webkit-transition: .2s;
			transition: .2s;
			&:hover{
				opacity: 0.6;
			}
		}
		.tags-a:hover{
				margin-left: 1em;
		}
	}
}
.tag-page-container{
	.tag-page-title{
		cursor:pointer;
		display: inline-block;
		position: relative;
		margin-bottom: 60px;
		left: 2px;
		top: 4px;
		background-color: $color;
		color: white;
		font-family: "Sourece Sans pro";
		font-weight: normal;
		font-size: 26px;
		padding-left: 15px;
		padding-right: 20px;
	}
	.tag-page-title:before{
			content: '';
     		position: absolute;
   			top: -1px;
    		right: -20px;
     		height: 0;
     		width: 0;
     		border-top: 20px solid transparent;
     		border-left: 20px solid $color;
     		border-bottom: 20px solid transparent;
		}	
}




